<div class="mb-3">
    <form>
        <div class="form-group">
            <label class="form-label" for="customFile">Please select file</label>
            <input type="file" class="form-control" id="customFile" />
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Title</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Desctiprion</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
    </form>
</div>